@font-face {
  font-family: "blender_pro_bold-webfont";
  src: url("/css/fonts/blender_pro_bold-webfont.woff") format("woff"); }

body {
  background-color: #f9f9f9 !important; }

img {
  width: 100%;
  height: auto; }

.shadow {
  -webkit-box-shadow: 0 4px 16px #f1f1f1;
          box-shadow: 0 4px 16px #f1f1f1; }

.slightly-rounded-corners {
  border-radius: 16px; }

a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none !important; }

.hide-scroll {
  overflow: hidden; }

.header-work, .header-home, .tagline-home, .header-about, .project-header, .header-case-study, .text-subheader-3 {
  font-family: "blender_pro_bold-webfont";
  color: #2a2c2e; }

.project-description, .tag-text, .text-body, .text-body-secondary-1, .text-body-secondary-2, #text-footer-1 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.text-subheader-1 {
  font-family: "Lato", sans-serif;
  font-weight: 900; }

#margin-below-header {
  margin-bottom: 40px; }

#margin-below-sentence {
  margin-bottom: 40px; }

#margin-below-section {
  margin-bottom: 80px; }

#project-card-margin {
  margin-top: 160px;
  margin-left: 16px;
  margin-right: 16px; }

.project-card {
  max-height: 400px;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 24px;
  -webkit-animation: popIn ease 1.2s;
          animation: popIn ease 1.2s;
  background: #f0f0f0; }

.header-work {
  max-height: 400px;
  max-width: 550px;
  margin: 0 auto;
  font-size: 56px;
  margin-top: 120px;
  margin-bottom: 32px;
  line-height: 83px;
  letter-spacing: 0.1px;
  position: relative; }

.content-thumbnail:hover {
  -webkit-box-shadow: 0 16px 80px #f1f1f1;
          box-shadow: 0 16px 80px #f1f1f1;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.offset-card-1 {
  -webkit-animation: popIn ease 1.2s 0.1s;
          animation: popIn ease 1.2s 0.1s;
  margin-bottom: 160px; }

.offset-card-2 {
  -webkit-animation: popIn ease 1.2s 0.2s;
          animation: popIn ease 1.2s 0.2s; }

.content-home {
  max-width: 700px;
  margin: 0 auto; }

.content-body {
  max-width: 700px;
  margin: 0 auto; }

.content-about {
  max-width: 600px;
  margin: 0 auto; }

.content-wireframe {
  max-width: 350px;
  margin: 0 auto; }

.content-headshot {
  max-width: 350px;
  margin: 0 auto;
  background: #f0f0f0;
  border-radius: 24px;
  margin-bottom: 64px;
  margin-top: 160px; }

.content-image {
  max-width: 950px;
  margin: 0 auto;
  background: #f0f0f0;
  border-radius: 24px;
  margin-top: 120px; }

.content-gif {
  width: 80%;
  margin-left: 10%;
  background: #f0f0f0;
  border-radius: 24px; }

.header-home {
  font-size: 104px;
  line-height: 1.2em;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 120px;
  margin-bottom: 24px;
  letter-spacing: 0.1px;
  position: relative; }

@media screen and (max-width: 767px) {
  .header-home {
    font-family: "blender_pro_bold-webfont";
    color: #2a2c2e;
    font-size: 56px;
    line-height: 1.2em;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 136px;
    margin-bottom: 24px;
    letter-spacing: 0.1px;
    position: relative; } }

.tagline-home {
  font-size: 48px;
  line-height: 1.2em;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: -400px;
  letter-spacing: 0.1px;
  position: relative; }

@media screen and (max-width: 767px) {
  .tagline-home {
    font-family: "blender_pro_bold-webfont";
    color: #2a2c2e;
    font-size: 40px;
    line-height: 1.2em;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: -400px;
    letter-spacing: 0.1px;
    position: relative; } }

.header-about {
  font-size: 56px;
  margin-top: 120px;
  margin-left: 16px;
  margin-bottom: 32px;
  line-height: 83px;
  letter-spacing: 0.1px;
  position: relative; }

#app-icon {
  height: 48px;
  width: 48px;
  margin-left: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 8px; }

#app-icon-lockup {
  margin-left: 96px;
  margin-top: -112px;
  margin-right: 32px;
  padding-bottom: 24px; }

.project-header {
  font-size: 24px;
  letter-spacing: 0.1px;
  margin-bottom: -8px; }

.project-description {
  font-size: 18px;
  margin-bottom: 8px;
  color: #74797e;
  line-height: 24px; }

.tag-text {
  font-size: 14px;
  line-height: 32px;
  color: white; }

.tag {
  padding: 0.1px 16px 0.1px 16px;
  background: #2a2c2e;
  border-radius: 10px;
  display: inline-block;
  margin-top: 12px; }

.tag:hover {
  opacity: 0.8; }

.header-case-study {
  font-size: 48px;
  margin-bottom: 32px;
  line-height: 1.2em;
  letter-spacing: 0.1px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 80px; }

.text-subheader-3 {
  font-size: 24px;
  margin-bottom: 32px;
  margin-left: 16px;
  color: #2a2c2e;
  letter-spacing: 0.1px; }

.text-subheader-1 {
  color: #2a2c2e;
  font-size: 24px;
  letter-spacing: 0.1px;
  margin-top: 16px;
  margin-bottom: 12px;
  margin-left: 16px;
  font-variant: small-caps; }

.text-body {
  color: #2a2c2e;
  font-size: 18px;
  line-height: 32px;
  margin-left: 16px;
  margin-right: 16px; }

.text-body-secondary-1 {
  color: #2a2c2e;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  margin-left: 16px; }

.text-body-secondary-2 {
  color: #74797e;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
  margin-left: 16px; }

.social-icons {
  margin-top: 11px;
  margin-right: 13px; }

.fa-linkedin-in,
.fa-twitter,
.fa-medium-m,
.fa-pinterest {
  color: #2a2c2e; }

.fa-linkedin-in:hover,
.fa-twitter:hover,
.fa-medium-m:hover,
.fa-pinterest:hover {
  color: #5dcfff; }

.highlight {
  background-image: -o-linear-gradient(330deg, #5dcfff, #5dcfff);
  background-image: linear-gradient(120deg, #5dcfff, #5dcfff);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 90%;
  -webkit-transition: background-size 0.2s ease-in-out;
  -o-transition: background-size 0.2s ease-in-out;
  transition: background-size 0.2s ease-in-out;
  color: inherit;
  text-decoration: none; }

::-moz-selection {
  background: #2a2c2e;
  color: #fff; }

::selection {
  background: #2a2c2e;
  color: #fff; }

::-moz-selection {
  background: #2a2c2e;
  color: #fff; }

.content-footer {
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 0;
  width: 100%; }

#text-footer-1 {
  font-size: 18px;
  margin-top: 5px;
  text-align: left; }

#text-footer-2 {
  text-align: right; }

.social-icons-footer {
  margin-right: 12px;
  margin-top: 10px; }

#margin-above-footer {
  margin-bottom: 140px; }

@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(0.8) translateY(100px);
            transform: scale(0.8) translateY(100px);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.05) translateY(-10px);
            transform: scale(1.05) translateY(-10px);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1; } }

@keyframes popIn {
  0% {
    -webkit-transform: scale(0.8) translateY(100px);
            transform: scale(0.8) translateY(100px);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.05) translateY(-10px);
            transform: scale(1.05) translateY(-10px);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1; } }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(3100px);
            transform: translateX(3100px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1; } }

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(3100px);
            transform: translateX(3100px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9; }

.header-container {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.face {
  background-image: url(https://jotsd.s3.us-west-1.amazonaws.com/home/memoji.png);
  background-size: cover; }

.w-inline-block {
  max-width: 100%;
  display: inline-block; }

.face.w--current {
  width: 72px;
  height: 72px; }

.btn {
  margin-top: 12px;
  margin-right: 12px;
  padding-top: 10px;
  border-radius: 8px;
  background-color: #4eeba9;
  font-family: "Lato", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 600; }

.btn.contact {
  display: none;
  height: auto;
  margin-top: 0px;
  margin-right: 0px;
  padding: 8px 12px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-transform: none; }

.w-button {
  display: inline-block;
  padding: 9px 15px;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0; }

.menu-link.w--current {
  border-radius: 8px;
  background-color: #fff;
  opacity: 1;
  font-family: "Lato", sans-serif;
  color: #2a2c2e;
  text-decoration: none; }

.menu-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  margin-right: 0px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-style: none;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none; }

.menu {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px); }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  padding: 8px 2px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #2a2c2e; }

a.menu-link {
  color: white; }
