// ----------------------------------------------------------------------------------------
// Headers
$COLOR1: #2a2c2e;
// Page Background
$COLOR2: #f9f9f9;
// Gray Text
$COLOR3: #74797e;
// Project Cards
$COLOR4: #f0f0f0;
// Winnie Blue for Accent
$accent: #5dcfff;
// Din Regular
$typeface1: "dinregular";
// Blender Bold
$typeface2: "blender_probold";
// Din Bold
$typeface3: "DINPro-Bold";
// Line Height for Body Text
$lead: 1.7em;
// Line Height for Headers
$lead-header: 1.3em;
// ----------------------------------------------------------------------------------------

// Blender Bold
@font-face {
  font-family: "blender_probold";
  src: url("/css/fonts/blender_pro_bold-webfont.woff") format("woff");
}

// DIN Bold
@font-face {
  font-family: "DINPro-Bold";
  src: url("/css/fonts/DIN-Bold.woff") format("woff");
}

// DIN Regular
@font-face {
  font-family: "dinregular";
  src: url("/css/fonts/din_regular-webfont.woff") format("woff");
}

// ----------------------------------------------------------------------------------------
body {
  background-color: $COLOR2 !important;
}
img {
  width: 100%;
  height: auto;
}
.slightly-rounded-corners {
  border-radius: 16px;
}
// Remove all text deocration from links
a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none !important;
}

// Hide scrollbars on home page
.hide-scroll {
  overflow: hidden;
}
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
// Headers
%base-1 {
  font-family: $typeface2;
  color: $COLOR1;
}
// Body Text
%base-3 {
  font-family: $typeface1;
}
// Navigations Links
%base-2 {
  font-family: $typeface3;
}
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
#margin-below-header {
  margin-bottom: 40px;
}
#margin-below-sentence {
  margin-bottom: 40px;
}
#margin-below-section {
  margin-bottom: 80px;
}
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
.header-work {
  @extend %base-1;
  max-height: 400px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 56px;
  margin-top: 120px;
  margin-bottom: 32px;
  line-height: $lead;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
}

.offset-card-1 {
  animation: popIn ease 1.2s 0.1s;
}
.offset-card-2 {
  animation: popIn ease 1.2s 0.2s;
}
.offset-card-3 {
  animation: popIn ease 1.2s 0.3s;
}
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------

.content-home {
  max-width: 570px;
  margin: 0 auto;
}
.content-body {
  max-width: 700px;
  margin: 0 auto;
}
.content-about {
  max-width: 600px;
  margin: 0 auto;
}
.content-wireframe {
  max-width: 350px;
  margin: 0 auto;
}
.content-headshot {
  max-width: 350px;
  margin: 0 auto;
  background: $COLOR4;
  border-radius: 24px;
  margin-bottom: 64px;
  margin-top: 160px;
}
.content-image {
  max-width: 950px;
  margin: 0 auto;
  background: $COLOR4;
  border-radius: 24px;
  margin-top: 120px;
}
.content-gif {
  width: 80%;
  margin-left: 10%;
  background: $COLOR4;
  border-radius: 24px;
}
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------

// Header on home page
.header-home {
  @extend %base-1;
  font-size: 104px;
  margin-top: 136px !important;
  margin-bottom: 24px;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (max-width: 500px) {
  .header-home {
    font-family: "blender_probold";
    color: $COLOR1;
    font-size: 56px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 120px;
    margin-bottom: 24px;
    position: relative;
  }
}

.tagline-home {
  @extend %base-3;
  // max-width: 550px;
  font-size: 36px;
  line-height: $lead-header;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: -400px;
  position: relative;
}

.header-about {
  @extend %base-1;
  font-size: 56px;
  margin-top: 120px;
  margin-left: 16px;
  margin-bottom: 32px;
  position: relative;
}

// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
#app-icon {
  height: 48px;
  width: 48px;
  margin-left: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 8px;
}

#app-icon-lockup {
  margin-left: 96px;
  margin-top: -112px;
  margin-right: 32px;
  padding-bottom: 24px;
}
.project-header {
  @extend %base-1;
  font-size: 24px;
  margin-top: 32px;
}

.tag:hover {
  opacity: 0.85;
}
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
// Case Study Header
.header-case-study {
  @extend %base-1;
  font-size: 48px;
  margin-bottom: 32px;
  line-height: $lead-header;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 80px;
}

.text-subheader-3 {
  @extend %base-3;
  font-size: 24px;
  margin-bottom: 32px;
  margin-left: 16px;
  color: $COLOR1;
}
// Smallcaps
.text-subheader-1 {
  @extend %base-3;
  color: $COLOR1;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 12px;
  margin-left: 16px;
  font-variant: small-caps;
}
// Body Text
.text-body {
  @extend %base-3;
  color: $COLOR1;
  font-size: 18px;
  line-height: $lead;
  margin-left: 16px;
  margin-right: 16px;
}
// Survey Questions
.text-body-secondary-1 {
  @extend %base-3;
  color: $COLOR1;
  font-size: 18px;
  line-height: $lead;
  text-align: left;
  margin-left: 16px;
}
// Survey Answer Choices
.text-body-secondary-2 {
  @extend %base-3;
  color: $COLOR3;
  font-size: 16px;
  line-height: $lead;
  text-align: left;
  margin-left: 16px;
}
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------

.highlight {
  background-image: linear-gradient(120deg, $accent, $accent);
  background-repeat: no-repeat;
  background-size: 100% 0.35em;
  background-position: 0 95%;
  transition: background-size 0.2s ease-in-out;
  color: inherit;
  text-decoration: none;
}
// Text highlight color
::selection {
  background: $COLOR1;
  color: #fff;
}
::-moz-selection {
  background: $COLOR1;
  color: #fff;
}
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
@keyframes popIn {
  0% {
    transform: scale(0.8) translateY(100px);
    opacity: 0;
  }
  50% {
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(3100px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
// Site Navigation

.header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;
}

.header-container {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: flex;
  margin: auto;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}

.face {
  background-image: url(https://jotsd.s3.us-west-1.amazonaws.com/home/memoji.png);
  background-size: cover;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.face.w--current {
  width: 72px;
  height: 72px;
}

.btn {
  // height: 40px;
  margin-top: 12px;
  margin-right: 12px;
  padding-top: 10px;
  border-radius: 8px;
  background-color: #4eeba9;
  font-family: $typeface1;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.btn.contact {
  display: none;
  height: auto;
  margin-top: 0px;
  margin-right: 0px;
  padding: 8px 12px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  // background-color: #3898ec;
  color: white;
  border: 0;
  line-height: $lead;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.menu-link.w--current {
  border-radius: 8px;
  background-color: #fff;
  opacity: 1;
  font-family: $typeface1;
  color: $COLOR1;
  text-decoration: none;
}

.menu-link {
  display: flex;
  height: 36px;
  margin-right: 0px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  border-bottom-style: none;
  border-radius: 20px;
  font-family: $typeface1;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.menu {
  backdrop-filter: saturate(180%) blur(20px);
}

.menu {
  display: flex;
  height: 24px;
  padding: 8px 2px;
  align-items: center;
  border-radius: 10px;
  background-color: $COLOR1;
}

a.menu-link {
  color: white;
}

// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
// Footer

// Home Footer
.footer-home {
  position: absolute;
  bottom: 16px;
  right: 0px;
  left: 0px;
}

// Footer on all pages except home
.footer {
  display: flex;
  padding: 16px;
  align-items: center;
  color: $COLOR3;
  font-size: 14px;
}

.footer-links {
  font-family: $typeface1;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.footer-link {
  margin-right: 16px;
}

a {
  display: inline-block;
  color: $COLOR1;
  text-decoration: none;
}

.footer-block {
  font-family: $typeface1;
  font-weight: 400;
  color: $COLOR1;
}

@media screen and (max-width: 767px) {
  .footer-block {
    margin-top: 8px;
  }
}

@media screen and (max-width: 500px) {
  .footer.desktop {
    flex-direction: column;
  }
}

// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
// Project Cards

.work-container {
  position: relative;
  height: 256px;
  margin-bottom: 40px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 24px;
  background-color: #f0f0f0;
}

@media screen and (max-width: 767px) {
  .work-container {
    position: relative;
    height: 272px;
    margin-bottom: 40px;
    border-radius: 24px;
    animation: popIn ease 1.2s;
    background-color: #f0f0f0;
  }
}

.work-description {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 5%;
  width: 85%;
  margin-top: 52px;
  margin-left: 52px;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .work-description {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 85%;
    margin-top: 54px;
    margin-left: 54px;
    justify-content: space-between;
  }
}

.work-logo {
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  border-radius: 16px;
}

@media screen and (max-width: 767px) {
  .work-logo {
    width: 56px;
    height: 56px;
    margin-left: -32px;
    margin-top: -32px;
    border-radius: 16px;
  }
}

.title {
  font-family: $typeface2;
  color: #2a2c2e;
  font-size: 32px;
  margin-top: -72px;
  margin-left: 64px;
  margin-bottom: -12px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .title {
    font-family: "blender_probold";
    color: #2a2c2e;
    font-size: 24px;
    margin-top: -64px;
    margin-left: 40px;
    margin-bottom: -12px;
    width: 100%;
  }
}

.work-metadata {
  font-family: $typeface1;
  font-weight: 400;
  color: #74797e;
  font-size: 14px;
  margin-left: 64px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .work-metadata {
    font-family: "dinregular";
    font-weight: 400;
    color: #74797e;
    font-size: 14px;
    margin-left: 40px;
    margin-bottom: -32px;
    width: 100%;
  }
}

.blurb {
  position: relative;
  font-family: $typeface1;
  font-weight: 400;
  color: #74797e;
  font-size: 18px;
  line-height: $lead;
  margin-left: -32px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  margin-right: 5%;
}

@media screen and (max-width: 767px) {
  .blurb {
    position: relative;
    font-family: "dinregular";
    font-weight: 400;
    color: #74797e;
    font-size: 18px;
    line-height: 1.7em;
    margin-left: -32px;
    margin-top: 64px;
    margin-bottom: 32px;
    width: 100%;
    margin-right: 5%;
  }
}

// Skill tags for projects
.tag {
  padding: 4px 16px 4px 16px;
  background: $COLOR1;
  border-radius: 10px;
  margin-top: -12px;
  margin-left: -32px;
}

.tag-text {
  @extend %base-3;
  font-size: 14px;
  line-height: $lead;
  color: white;
}
