---
title: Home
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
  <!-- Do not copy this head section to other pages -->
  <head>
    <meta charset="utf-8" />

    <title>Home</title>

    <!-- This stuff sets up the page to be mobile friendly -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <!-- Let search engines read your content only in https site -->
    <link rel="canonical" href="https://jotd.me" />

    <!-- Link to External Stylesheet -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{"/css/styles.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Material Icon Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    

  </head>



<body class="bg-topographic">


  {% include header.html %}
  

  <!-- Example code for using material icon in nav bar -->
  <!-- <a href="https://jotd.me/" class="menu-link w--current">
    <span class="material-symbols-rounded"> home </span>
  </a> -->


 <!-- Jot Intro -->
  <div class="layout-home">

    <div class="content-home-3">
      <img class="headshot" src="https://jotsd.s3.us-west-1.amazonaws.com/home/headshot-tall.png"/>
      <div class="memoji"></div>
    </div>


    <div class="content-home-2">

      <div class="text-metadata"> Product Designer</div> 
      <hr>
      <h1 class="header-home">Jot Dhaliwal</h1>

      <div class="tagline-home">
        🥶 Crafted apps / websites / brands @ 
        <span id="text-white">Gemini</span>,
        <span id="text-white">Square</span>,
        <span id="text-white">Snapchat</span> &
        <span id="text-white">Twitter</span>. 
      </div>

      <div>
        <a class="cta-2" href="mailto:info@jotd.me?subject=Inquiry%20from%20website"> Get in touch </a>    
      </div>

    </div>
        
  </div>




<!-- JSD Creative -->
<!-- <div class="layout-home-2">

<div class="hero-text-left">

<div class="text-metadata"> Accepting New Clients </div>
<hr>
<h1 class="header-home"> JSD Creative Inc. </h1>

<div class="tagline-home"> 🏆 My independent design studio practice for early stage startups — 
  <span id="text-white">crypto</span>, 
  <span id="text-white">web3</span> &
  <span id="text-white">fintech</span>.
</div>
<div>
  <a class="cta-2" href="https://fantastical.app/jotd/call"> Book a call</a>    
</div>

</div> -->


<!-- Image Swap -->
<!-- <div class="hero-img-right"> 
  <img class="img-hero-headshot border-img" 
  src="https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/795c8c9c-04be-4b99-b939-2e2ec762fa31.gif?ClientID=vimeo-core-prod&Date=1661405487&Signature=4848fc69023097ae6c2a5d7064fa36e27aeb2089"/> 
  <div class="swap-logo"></div>
</div> -->


</div>


  <!-- Nifty App -->
    <!-- <div class="layout-home">

      <div class="content-home-3">
        <img class="img-hero-headshot border-img mobile-hidden" src="https://jotsd.s3.us-west-1.amazonaws.com/nifty+app+store+screenshots/1.webp"/>
      </div>
  
      <div class="content-home-2">

        <span class="hero-nifty-app-icon"></span>
        <div class="text-metadata"> acquired by gemini </div>
        <hr>
        <h1 class="header-home">Nifty Gateway </h1>
        <div class="tagline-home"> 📣 NFT Marketplace. v1 released on July 15, 2022. </div>

        <div> <a class="cta-2" href="https://apps.apple.com/mk/app/nifty-gateway/id1599792483"> Get the app</a> </div>

      </div>
    </div> -->

     <!-- Afterpay App -->
     <!-- <div class="layout-home">

      <div class="content-home-3">
        <img class="hero-app-screen border-img" src="https://jotsd.s3.us-west-1.amazonaws.com/afterpay/afterpay-app-store.webp"/>
      </div>
  
      <div class="content-home-2">
        <span class="hero-afterpay-app-icon"></span>
        <div class="text-metadata">
          Acquired by Square </div>
        <hr>
        <h1 class="header-home">Afterpay App </h1>
        <div class="tagline-home">
          📣 Shop today and pay in 4 interest free installments.
        </div>
        <div>
          <a class="cta-2" href="https://apps.apple.com/us/app/afterpay-buy-now-pay-later/id1401019110"> Get the app</a>    
        </div>
     </div>

    </div> -->

     <!-- Square Becomes Block -->
     <!-- <div class="layout-home">

      <div class="content-home-3">
        <img class="img-hero-headshot border-img" src="https://jotsd.s3.us-west-1.amazonaws.com/afterpay/Block_lockup_reverse_black_500x500.gif"/>
      </div>
  
      <div class="content-home-2">
        <div class="text-metadata">
          Square Name Change
        </div>
        <hr>
        <h1 class="header-home"> Square Now Block </h1>
        <div class="tagline-home">
          <span id="text-white">📣 NYSE: SQ</span> 
           includes – Square, Cash, Afterpay.
        </div>
        <div>
          <a class="cta-2" href="https://squareup.com/us/en/press/square-changes-name-to-block"> Read the memo</a>    
        </div>
     </div>

    </div> -->

    {% include footer.html %}
    

</body>
</html>

  



