 
<!-- Component – Footer – Start /////////////////////////////////////////////// -->

<!-- Divider -->
<hr class="footer-divider">
    
<div class="footer">

<!-- Link Stack -->
<div class="footer-links">
    <div class="footer-header" 
    style=
    "font-size: 10px; 
    color: #fdb927;
    letter-spacing: .2em;
    text-transform: uppercase;"  
    >
    wagmi
  </div>
  <a
    href="https://twitter.com/jotd?lang=en"
    target="_blank"
    class="footer-body underline"
    >Twitter</a
  >
  <a
    href="https://www.linkedin.com/in/jotdhaliwal/"
    target="_blank"
    class="footer-body underline"
    >LinkedIn</a
  >
</div>


 

<!-- Text Stack  -->
<div class="footer-links mobile-hidden">
  <div class="footer-header" 
    style=
    "font-size: 10px;
    color: #fdb927;
    letter-spacing: .2em;
    text-transform: uppercase;"  
    >
    gm
  </div>
  <!-- Email -->
  <div class="footer-body"> info@jotd.me </div> 
  <!-- Phone -->
  <div class="footer-body"> (916) 832–5322 </div> 
</div>

<!-- Mamba Mentality Column -->
<div class="footer-links-row">
  <div class="footer-header" 
    style=
    "font-size: 10px; 
    color: #fdb927;
    letter-spacing: .2em;
    text-transform: uppercase;"  
    >
    mamba mentality
  </div>

  <!-- Container for Logo + Copyright -->
  <div class="footer-links-row-2">
    <!-- JSD Logo -->
    <a href="https://jotd.me/" class="face w-inline-block w--current"></a>
    <!-- Copyright  -->
    <div class=""> © 2022 JSD Creative Inc. </div> 
  </div>
  
</div>

  
</div>
<!-- Component – Footer – End ///////////////////////////////////////////////////// -->


  <!-- Lyrics -->
  <div class="footer-links-row-3">
  <div class=""> "These young guys are playing checkers. I'm out there playing chess."
      <br> ― Kobe Bryant, RIP 🐍 </div> 
  </div>