
  <div class="header">
    <div class="header-container">
  
      <a href="/" class="nav-jsd-logo"></a>
      <div class="availability-block"> 
          <div class="dot"> </div> 
          <p class="nav-text">Available / SF</p>
          <a class="nav-cta" href="mailto:info@jotd.me?subject=Inquiry%20from%20website"> info@jotd.me</a>
      </div>
  

      <div class="menu">
        {% for item in site.data.header.docs %}
        <a href="{{ item.url }}" class="menu-link {% if item.url == page.url %}active{% endif %}">{{ item.title }}</a>
        {% endfor %}
      </div>
  
    </div>
  </div>