---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Services</title>

    <!-- This stuff sets up the page to be mobile friendly -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <!-- Let search engines read your content only in https site -->
    <link rel="canonical" href="https://jotd.me" />

    <!-- Link to External Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>

  <body class="">


    {% include header.html %}
 

    <div  class="content-about">
      <h1 class="header-about">Services</h1>
      <p class="text-2">
        🤝 Let's partner on design.
      </p>
      <img class="" src="https://jotsd.s3.us-west-1.amazonaws.com/services.png"/>
      <div>
        <a class="cta-3" href="mailto:info@jotd.me?subject=Inquiry%20from%20website"> Get in touch</a>    
      </div>
    </div>

    
    {% include footer.html %}
    
  </body>
</html>
