---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>About</title>

    <!-- This stuff sets up the page to be mobile friendly -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <!-- Let search engines read your content only in https site -->
    <link rel="canonical" href="https://jotd.me" />

    <!-- Link to External Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    {% include header.html %}

    <div  class="content-about">
      <h1 class="header-about">Hello, I'm Jot.</h1>
      <p class="text-2">
I'm a Product Management leader based in San Francisco. I have 10 years of experience building industry-leading consumer software millions use across mobile, social, payments, and marketplaces. 
Previously I've built innovative digital products @ Gemini, Square, Snapchat, and Twitter. I'm passionate about platforms, processes, and customer experience. 

      </p>
      <img class="content-headshot" src="https://jotsd.s3.us-west-1.amazonaws.com/about/headshot-cropped.png"/>
    </div>
    
    
    <!-- <div class="content-about">
    <img class="content-headshot" src="https://jotsd.s3.us-west-1.amazonaws.com/about/headshot-cropped.png"/>
  </div> -->


<div id="margin-below-section"class="content-about">

<div class="text-subheader-3"> Highlights</div>

      <div class="content-row">
        <div class="text-container desktop">
          <div class="text-block-left">
            🎓  College
          </div>
          <div class="text-block-right">Berkeley </div>
        </div>
      </div>

      <div class="content-row">
        <div class="text-container desktop">
          <div class="text-block-left">
            🎧 Music 
          </div>
          <div class="text-block-right"> Hip Hop </div>
        </div>
      </div>

      <div class="content-row">
        <div class="text-container desktop">
          <div class="text-block-left">
            ⛷️  Hobby
          </div>
          <div class="text-block-right">Skiing</div>
        </div>
      </div>

      
</div>

   

    {% include footer.html %}
  </body>
</html>
